@page
@model Banderas_KarolModel
<link rel="stylesheet" href="~/css/Banderas_Karol.css" />
<h1 class="titulo">Banderas Hechas Solo con CSS</h1>

<div class="grid">

    <!-- 1. Ucrania -->
    <div class="bandera-card">
        <div class="ucrania"></div>
        <h3>Ucrania</h3>
    </div>

    <!-- 2. Polonia -->
    <div class="bandera-card">
        <div class="polonia"></div>
        <h3>Polonia</h3>
    </div>

    <!-- 3. Alemania -->
    <div class="bandera-card">
        <div class="alemania"></div>
        <h3>Alemania</h3>
    </div>

    <!-- 4. Japón -->
    <div class="bandera-card">
        <div class="japon"></div>
        <h3>Japón</h3>
    </div>

    <!-- 5. Nigeria -->
    <div class="bandera-card">
        <div class="nigeria"></div>
        <h3>Nigeria</h3>
    </div>

    <!-- 6. Francia -->
    <div class="bandera-card">
        <div class="francia"></div>
        <h3>Francia</h3>
    </div>

</div>