@page

<link rel="stylesheet" href="~/css/Principal.css" />

<div class="container">
    <div class="card">
        <h2>Banderas Karol</h2>
        <a class="btn" asp-page="/Karol/Banderas">Ver Banderas</a>
        <a class="btn" asp-page="/Karol/InfoPaises">Información de Países</a>
        <a class="btn" asp-page="/Karol/DisenoLibre">Diseño Libre</a>
    </div>
</div>
