@page
@model Andrey_BanderasModel

@section Styles {
    <link rel="stylesheet" href="~/css/Andrey.css" />
}

<h2>Solución Ejercicio de Banderas</h2>

<div class="banderas-container">
    <div class="costarica"></div>
    <div class="espana"></div>
    <div class="peru"></div>
    <div class="ucrania"></div>
    <div class="nigeria"></div>
    <div class="paisesbajos"></div>
</div>